@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
.video-container {
  contain: content;
  will-change: transform;
  backface-visibility: hidden;
}

.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
  /* Suave no iOS */
}

/* Esconder scrollbar no desktop */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

/* Otimizações de hardware */
video {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}